## Deploy a Prometheus instance
##
prometheus:
  ## Settings affecting prometheusSpec
  ## ref: https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#prometheusspec
  ##
  prometheusSpec:
    additionalScrapeConfigs: 
    - job_name: opa-exporter
      kubernetes_sd_configs:
        - role: service

grafana:
  plugins:
    - grafana-piechart-panel